* {
    margin: 0;
}

ul {
    top: 30px;
    width: 100%;
    position: sticky;
    list-style-type: none;
    background-color: black;
    padding-inline: 0;
}

li {
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

li:hover {
    background-color: green;
}

li.active {
    background-color: green;
}

p {
    font-size: 50px;
}
